# Descriptive Statistics
### Agenda:
1) What are the types of data  
2) How do describe and analyze data?  
3) Distributions **FIX Maybe?**  
4) Inference **FIX**

## Types of Data

Once we have collected data, we need to understand the data better. Common questions might include, "what is a "normal" value for this data?" or "is some of the data very different from the rest?"

Examples:   
1) Scores on your midterm  
2) Gay marriage approval over time by race

In [13]:
import numpy as np
from datascience import Table
Table().with_columns(
    'student id', np.random.randint(300000000, 350000000, 10),
    'midterm grade', np.random.randint(70, 90, 10)
)

student id | midterm grade
307217395  | 79
307120377  | 82
325685517  | 71
340659110  | 73
310554518  | 86
336904162  | 76
342407684  | 77
329534388  | 84
347550062  | 73
310339224  | 88

In [16]:
import pandas as pd
pd.read_excel('data/desc_stats.xlsx', sheets='Sheet2').dropna()

    Year  White  Black  Hispanic
4   2006   0.35   0.25      0.42
5   2007   0.38   0.26      0.38
6   2008   0.41   0.26      0.39
7   2009   0.37   0.29      0.41
8   2010   0.44   0.30      0.41
9   2011   0.49   0.36      0.42
10  2012   0.49   0.40      0.50
11  2013   0.50   0.38      0.54
12  2014   0.53   0.42      0.56
13  2015   0.58   0.39      0.55
14  2016   0.57   0.42      0.56
15  2017   0.64   0.51      0.60
16  2019   0.62   0.51      0.58

### Measurement Metric

Different sets of data often have different kinds of values that